/* Shared styles */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin-left: 40px;
    margin-right: 40px;
    
}

/* Styling header section */
header{
    border-radius: 16px;
    background: linear-gradient(rgba(1, 1, 5, 0.568), rgba(0, 0, 0, 0.40)), url("../resources/Banner\ Image.png");
    background-size: cover;
}

.container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.container > h2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.container > h1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    line-height: 95px;
}

.container > span{
    display: block;
}

/* Styling Main Section */
.secondContainer > h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 70px;
    font-weight: 700;
    margin-top: 100px;
}

.secondContainer > p{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.secondContainer > h3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    margin-top: 2px;
}

.secondContainer img{
    width: 65%;
    padding-left: 105px;
}